In [24]:
json_output_prompt = '''
Convert the input csv data into JSON format.

JSON rules:
- Use double quotes for keys and string values
- No trailing commas
- Use Standard JSON syntax

Do Not give python code for doing this
Give only JSON output
'''

In [26]:
toon_output_prompt = '''
Convert the input csv data into TOON format.

TOON rules:
- Use entity identifiers
- Attributes as key:value pairs
- No JSON syntax
- Minimize tokens

Do Not give python code for doing this
Give only TOON output
'''

In [4]:
from openai import OpenAI
from collections import defaultdict
import json
import requests

In [5]:
ollama = OpenAI(base_url='http://localhost:11434/v1', api_key='ollama')
MODEL = "llama3.2"
OLLAMA_URL = "http://localhost:11434/api/generate"

In [27]:
# for open ai modal, we can use tiktoken packag to calculate tokens but ollama does not have such package

def approx_tokens(text):
    return int(len(text.split()) * 1.3)

In [28]:
# read sample_table.csv
with open('sample_table.csv', 'r') as f:
    csv_content = f.read()

    payload = {
            "model": MODEL,
            "prompt": json_output_prompt + csv_content,
            "stream": False
        }

    
    response = requests.post(OLLAMA_URL, json=payload)
    json_output = response.json()['response']
    print("JSON Output:", json_output)
    

    payload = {
            "model": MODEL,
            "prompt": toon_output_prompt + csv_content,
            "stream": False
        }

    response = requests.post(OLLAMA_URL, json=payload)
    toon_output = response.json()['response']
    print("TOON Output:", toon_output)

    print("Approx JSON Tokens:", approx_tokens(json_output_prompt + csv_content + json_output))
    print("Approx TOON Tokens:", approx_tokens(toon_output_prompt + csv_content + toon_output))

# PASS JSON TO MODAL -> CHECK
# PASS TOON TO MODAL

JSON Output: {
  "data": [
    {
      "id": "1",
      "name": "Alice",
      "age": "29",
      "city": "Pune",
      "department": "Engineering",
      "salary": "1200000"
    },
    {
      "id": "2",
      "name": "Bob",
      "age": "34",
      "city": "Mumbai",
      "department": "Sales",
      "salary": "900000"
    },
    {
      "id": "3",
      "name": "Charlie",
      "age": "41",
      "city": "Bangalore",
      "department": "Engineering",
      "salary": "1500000"
    },
    {
      "id": "4",
      "name": "Deepa",
      "age": "27",
      "city": "Hyderabad",
      "department": "Marketing",
      "salary": "750000"
    },
    {
      "id": "5",
      "name": "Ethan",
      "age": "38",
      "city": "Delhi",
      "department": "Finance",
      "salary": "1300000"
    },
    {
      "id": "6",
      "name": "Fatima",
      "age": "31",
      "city": "Chennai",
      "department": "HR",
      "salary": "800000"
    },
    {
      "id": "7",
      "name": "Gaurav",
      "age": "26",
      "city": "Pune",
      "department": "Engineering",
      "salary": "700000"
    },
    {
      "id": "8",
      "name": "Harsh",
      "age": "45",
      "city": "Mumbai",
      "department": "Operations",
      "salary": "1600000"
    },
    {
      "id": "9",
      "name": "Isha",
      "age": "33",
      "city": "Bangalore",
      "department": "Design",
      "salary": "950000"
    },
    {
      "id": "10",
      "name": "Jatin",
      "age": "28",
      "city": "Delhi",
      "department": "Engineering",
      "salary": "850000"
    },
    {
      "id": "11",
      "name": "Kavya",
      "age": "36",
      "city": "Chennai",
      "department": "Finance",
      "salary": "1400000"
    },
    {
      "id": "12",
      "name": "Lalit",
      "age": "42",
      "city": "Pune",
      "department": "Sales",
      "salary": "1100000"
    },
    {
      "id": "13",
      "name": "Meera",
      "age": "25",
      "city": "Bangalore",
      "department": "Marketing",
      "salary": "680000"
    },
    {
      "id": "14",
      "name": "Nikhil",
      "age": "39",
      "city": "Hyderabad",
      "department": "Engineering",
      "salary": "1450000"
    },
    {
      "id": "15",
      "name": "Omkar",
      "age": "32",
      "city": "Mumbai",
      "department": "Operations",
      "salary": "1000000"
    },
    {
      "id": "16",
      "name": "Priya",
      "age": "29",
      "city": "Delhi",
      "department": "HR",
      "salary": "780000"
    },
    {
      "id": "17",
      "name": "Rahul",
      "age": "47",
      "city": "Pune",
      "department": "Finance",
      "salary": "1700000"
    },
    {
      "id": "18",
      "name": "Sneha",
      "age": "34",
      "city": "Chennai",
      "department": "Design",
      "salary": "920000"
    },
    {
      "id": "19",
      "name": "Tarun",
      "age": "27",
      "city": "Bangalore",
      "department": "Engineering",
      "salary": "720000"
    },
    {
      "id": "20",
      "name": "Zoya",
      "age": "35",
      "city": "Mumbai",
      "department": "Marketing",
      "salary": "980000"
    }
  ]
}
TOON Output: TOON output:

1 "Alice" 29 "Pune" "Engineering" "1200000"
2 "Bob" 34 "Mumbai" "Sales" "900000"
3 "Charlie" 41 "Bangalore" "Engineering" "1500000"
4 "Deepa" 27 "Hyderabad" "Marketing" "750000"
5 "Ethan" 38 "Delhi" "Finance" "1300000"
6 "Fatima" 31 "Chennai" "HR" "800000"
7 "Gaurav" 26 "Pune" "Engineering" "700000"
8 "Harsh" 45 "Mumbai" "Operations" "1600000"
9 "Isha" 33 "Bangalore" "Design" "950000"
10 "Jatin" 28 "Delhi" "Engineering" "850000"
11 "Kavya" 36 "Chennai" "Finance" "1400000"
12 "Lalit" 42 "Pune" "Sales" "1100000"
13 "Meera" 25 "Bangalore" "Marketing" "680000"
14 "Nikhil" 39 "Hyderabad" "Engineering" "1450000"
15 "Omkar" 32 "Mumbai" "Operations" "1000000"
16 "Priya" 29 "Delhi" "HR" "780000"
17 "Rahul" 47 "Pune" "Finance" "1700000"
18 "Sneha" 34 "Chennai" "Design" "920000"
19 "Tarun" 27 "Bangalore" "Engineering" "720000"
20 "Zoya" 35 "Mumbai" "Marketing" "980000"
Approx JSON Tokens: 449
Approx TOON Tokens: 235